.container {
	background: red;
	display: flex;
	align-items: center;
}
.userInput {
	background: black;
	color: white;
	padding: 10px 20px;
	border-radius: 12px 0 0 12px;
}
.searchBtn {
	background: orange;
	color: white;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	border-radius: 0 12px 12px 0;
}
